* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(90deg,
#9CF0F8
0%, #7aacef 100%);
  /* background: #7aacef; */
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

/* HOMEPAGE */

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
