.app-header {
  margin-top: 10rem;
  /* color: rgb(239, 239, 239); */
}
.app-header {
  display: flex;
  flex-direction: column;
}

header {
  font-size: 2rem;
}
.register-block {
  font-size: 25px;
  display: flex;
  justify-content: space-between;
}

.register-button {
  margin-left: 10px;
  width: 100px;
  height: 52px;
  height: 45px;
  border: none;
  color: #555555;

  /* border: 1px solid gray;
  background: transparent;
  color: #555555; */

  font-size: 17px;
  letter-spacing: 1px;
}

.register-button:hover {
  background: #5f9cec;
  color: #fff;
}
