form {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

form button {
  color: #7aacef;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #7aacef;
  color: white;
}

.fa-search {
  color: lightgray;
  color: rgb(239, 239, 239);
  font-size: 25px;
}

.search-sport {
  height: 53px;
  width: 300px;
}

.search-city {
  height: 53px;
  width: 200px;
}

.button-match {
  width: 150px;
  height: 52px;
  background-color: rgb(110, 94, 254);
  font-size: 17px;
  color: white;
  letter-spacing: 1px;
}

.button-match:hover {
  background: #5f9cec;
}
